<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.introtoandroid.simplescrolling">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SimpleScrollingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HorizontalScrollActivity"
            android:parentActivityName=".SimpleScrollingActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SimpleScrollingActivity" />
        </activity>

        <activity
            android:name=".VerticalScrollActivity"
            android:parentActivityName=".SimpleScrollingActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SimpleScrollingActivity" />
        </activity>

        <activity
            android:name=".NoScrollActivity"
            android:parentActivityName=".SimpleScrollingActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SimpleScrollingActivity" />
        </activity>

        <activity
            android:name=".BothScrollActivity"
            android:parentActivityName=".SimpleScrollingActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SimpleScrollingActivity" />
        </activity>
    </application>
</manifest>
