<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.introtoandroid.simpleparentchildsibling" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SimpleParentChildSiblingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstChildActivity"
            android:label="@string/title_activity_first_child"
            android:parentActivityName=".SimpleParentChildSiblingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.introtoandroid.simpleparentchildsibling.SimpleParentChildSiblingActivity" />
        </activity>
        <activity
            android:name=".SecondChildActivity"
            android:label="@string/title_activity_second_child"
            android:parentActivityName=".SimpleParentChildSiblingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.introtoandroid.simpleparentchildsibling.SimpleParentChildSiblingActivity" />
        </activity>
        <activity
            android:name=".ThirdChildActivity"
            android:label="@string/title_activity_third_child"
            android:parentActivityName=".SimpleParentChildSiblingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.introtoandroid.simpleparentchildsibling.SimpleParentChildSiblingActivity" />
        </activity>
    </application>

</manifest>
